{% extends "base.html" %}

{% block content %}
  <h1>Confirmar Eliminación de Municipio</h1>
  <p>¿Estás seguro de que deseas eliminar el municipio "{{ municipio.nombre }}" ({{ municipio.codigo }})?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'municipio_list' %}">Cancelar</a>
{% endblock %}