{% extends "base.html" %}

{% block content %}
  <h1>Confirmar Eliminación de Departamento</h1>
  <p>¿Estás seguro de que deseas eliminar el departamento "{{ departamento.nombre }}" ({{ departamento.codigo }})?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'departamento_list' %}">Cancelar</a>
{% endblock %}