{% extends "base.html" %}

{% block content %}
  <h1>{% if departamento.pk %}Editar Departamento{% else %}Agregar Departamento{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
  <a href="{% url 'departamento_list' %}">Volver al Listado de Departamentos</a>
{% endblock %}